# macOS
.DS_Store

# Node
node_modules
dist
coverage
npm-debug.log*

# Flutter / Dart
**/.dart_tool/
**/build/

# IDE
.vscode
.idea

# Env files
.env
.env.*
!.env.example

# Terraform
.terraform
*.tfstate
*.tfstate.*
terraform.tfvars
